@charset "UTF-8";
#tipografia-total {
  font-family: "Montserrat" !important; }

h1,
h2,
h3 {
  font-weight: 600;
  color: #E6A000; }

p {
  color: #2D2D2D; }

/* MENÚ DE ARRIBA DE TODO - VER ABAJO DE TODO CON BOOTSTRAP */
.logo {
  display: inline block;
  display: flex;
  justify-content: center; }

/* MENÚ PRINCIPAL DE LA PÁGINA */
.menu-principal {
  text-align: center;
  font-size: 18px;
  padding: 15px;
  margin: 0;
  background-color: #f0f0f0; }
  .menu-principal li {
    display: inline-block;
    padding: 8px; }
  .menu-principal a {
    margin: 30px;
    color: #2D2D2D;
    text-decoration: none; }
    .menu-principal a:hover {
      color: #FFC80F; }
  .menu-principal ul {
    margin: 0; }

.subcategorias {
  display: none;
  position: absolute;
  left: 40%;
  background-color: #f0f0f0;
  z-index: 1; }
  .subcategorias li {
    padding-right: 10px;
    display: block;
    position: relative;
    text-align: left;
    font-size: 18px;
    padding-left: 0; }
    .subcategorias li a {
      margin-left: 0;
      padding-left: 5px; }

ul li:hover ul {
  display: block; }

/* FRASE DEBAJO DEL MENÚ PRINCIPAL */
.primer-titulo {
  text-align: center;
  padding: 50px; }
  .primer-titulo h1 {
    font-size: 30px; }
  .primer-titulo p {
    font-size: 18px; }

/* LAS TRES SECCIONES DE ABAJO DEL MENÚ*/
main {
  display: flex;
  flex-wrap: nowrap;
  flex-direction: row;
  justify-content: space-evenly; }
  main .destacado-paquetazos .imagen-paquetazos {
    display: flex;
    justify-content: center;
    align-items: center; }
    main .destacado-paquetazos .imagen-paquetazos a img {
      transition: 0.2s ease-in-out; }
      main .destacado-paquetazos .imagen-paquetazos a img:hover {
        transform: scale(1.1); }
    main .destacado-paquetazos .imagen-paquetazos .titulo-imagen-paquetazos {
      position: absolute; }
      main .destacado-paquetazos .imagen-paquetazos .titulo-imagen-paquetazos p {
        margin-top: unset;
        margin-bottom: unset;
        font-size: 25px;
        color: white; }
      main .destacado-paquetazos .imagen-paquetazos .titulo-imagen-paquetazos a {
        text-decoration: none; }
  main .destacado-en-promo .imagen-en-promo {
    display: flex;
    justify-content: center;
    align-items: center; }
    main .destacado-en-promo .imagen-en-promo a img {
      transition: 0.2s ease-in-out; }
      main .destacado-en-promo .imagen-en-promo a img:hover {
        transform: scale(1.1); }
    main .destacado-en-promo .imagen-en-promo .titulo-imagen-en-promo {
      position: absolute; }
      main .destacado-en-promo .imagen-en-promo .titulo-imagen-en-promo p {
        margin-top: unset;
        margin-bottom: unset;
        font-size: 25px;
        color: white; }
      main .destacado-en-promo .imagen-en-promo .titulo-imagen-en-promo a {
        text-decoration: none; }
  main .destacado-pense-en-vos .imagen-pense-en-vos {
    display: flex;
    justify-content: center;
    align-items: center; }
    main .destacado-pense-en-vos .imagen-pense-en-vos a img {
      transition: 0.2s ease-in-out; }
      main .destacado-pense-en-vos .imagen-pense-en-vos a img:hover {
        transform: scale(1.1); }
    main .destacado-pense-en-vos .imagen-pense-en-vos .titulo-imagen-pense-en-vos {
      position: absolute; }
      main .destacado-pense-en-vos .imagen-pense-en-vos .titulo-imagen-pense-en-vos p {
        margin-top: unset;
        margin-bottom: unset;
        font-size: 25px;
        color: white; }
      main .destacado-pense-en-vos .imagen-pense-en-vos .titulo-imagen-pense-en-vos a {
        text-decoration: none; }

/*DENTRO SECCIÓN PAQUETAZOS */
.card-paquetazos {
  margin: 10px;
  padding: 13px;
  display: inline-block;
  width: 300px;
  text-decoration: none;
  color: #2D2D2D;
  text-align: center;
  border: none; }
  .card-paquetazos p {
    margin: 10px; }
  .card-paquetazos span {
    display: inline-block;
    justify-content: center;
    margin: 25px;
    margin-top: 7px;
    width: 120px;
    color: white;
    background-color: #555555;
    padding: 8px; }
    .card-paquetazos span:hover {
      background-color: #e6a000; }

.cat-paquetazos h1 {
  font-size: 30px;
  margin-left: 28px;
  margin-top: 20px; }

.padre-cards-paquetazos {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-content: center;
  padding: 0;
  margin: 25px; }
  .padre-cards-paquetazos .card-paquetazos {
    padding: 0; }
    .padre-cards-paquetazos .card-paquetazos a {
      margin: 20px;
      margin-bottom: 15px; }
      .padre-cards-paquetazos .card-paquetazos a .detalle-card-producto {
        font-size: 14px; }
    .padre-cards-paquetazos .card-paquetazos .precio-prod {
      font-size: 20px; }

/*DENTRO DE SECCIÓN EN PROMO*/
.precio-prod {
  font-size: 20px; }

/* DENTRO DE SECCIÓN PENSÉ EN VOS */
.seccion-pense-en-vos h1 {
  font-size: 30px;
  margin: 25px; }

.seccion-pense-en-vos p {
  margin-left: 25px;
  margin-bottom: 100px; }

.seccion-pense-en-vos img {
  transition: 0.5s ease-in-out; }
  .seccion-pense-en-vos img:hover {
    transform: scale(1.02); }

/* ACÁ SECCIÓN PRODUCTOS EN INICIO*/
/* TITULO*/
.productos {
  text-align: center;
  padding: 80px;
  padding-bottom: 40px; }
  .productos h2 {
    font-size: 25px; }
  .productos p {
    font-size: 18px; }
  .productos button {
    display: inline-block;
    background-color: #FFC80F;
    border: none;
    padding: 15px 25px 15px 25px;
    border-radius: 5px; }

/* ACÁ EMPIEZAN LOS PRODUCTOS INICIO */
.flex-productos-inicio {
  display: flex;
  flex-wrap: wrap;
  justify-content: center; }
  .flex-productos-inicio a {
    margin: 0;
    padding: 0; }
  .flex-productos-inicio p {
    font-size: 14px; }
  .flex-productos-inicio img {
    transition: 0.2s ease-in-out; }
    .flex-productos-inicio img:hover {
      transform: scale(1.05); }

.card-imanes-inicio {
  margin: 10px;
  padding: 13px;
  display: inline-block;
  width: 300px;
  text-decoration: none;
  color: #2D2D2D;
  text-align: center;
  border: none; }
  .card-imanes-inicio p {
    margin: 5px; }
  .card-imanes-inicio span {
    display: inline-block;
    justify-content: center;
    color: white;
    background-color: #555555;
    font-size: 14px;
    width: 100px;
    margin: 3px;
    margin-bottom: 25px;
    padding: 3px; }
    .card-imanes-inicio span:hover {
      background-color: #e6a000; }
  .card-imanes-inicio .precio-prod {
    font-size: 18px; }

.boton-inicio-ver-mas {
  display: flex;
  justify-content: center; }
  .boton-inicio-ver-mas button {
    margin: 50px;
    border-radius: 5px; }
    .boton-inicio-ver-mas button a {
      text-decoration: none;
      color: #2d2d2d; }
      .boton-inicio-ver-mas button a:hover {
        color: white; }

/* TITULO DONDE QUIERA ...*/
.banner-frase-dos h2 {
  text-align: center;
  color: #2d2d2e;
  background-color: #FFC80F;
  margin: 0;
  padding: 50px;
  font-size: 30px; }

/* SECCIONES DE ABAJO DE TODO */
#banners-destacados {
  background-color: #f0f0f0;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-evenly;
  align-content: space-evenly; }
  #banners-destacados .imagen-pedi-un-deseo {
    vertical-align: middle;
    display: inline-block;
    padding: 50px;
    padding-left: 60px; }
    #banners-destacados .imagen-pedi-un-deseo img {
      transition: 0.5s ease-in-out; }
      #banners-destacados .imagen-pedi-un-deseo img:hover {
        transform: scale(1.05) rotate(5deg); }
  #banners-destacados .titulo-pedi-un-deseo {
    vertical-align: middle;
    text-align: center;
    display: inline-block; }
    #banners-destacados .titulo-pedi-un-deseo h3 {
      font-size: 27px; }
    #banners-destacados .titulo-pedi-un-deseo p {
      font-size: 18px; }
  #banners-destacados .boton-por-aca a {
    text-decoration: none;
    color: #2d2d2d; }
    #banners-destacados .boton-por-aca a:hover {
      color: white; }

#banners-destacados-dos {
  background-color: #f0f0f0;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-evenly;
  align-content: space-evenly; }
  #banners-destacados-dos .imagen-un-toque-de-brillo {
    vertical-align: middle;
    display: inline-block;
    padding: 50px; }
    #banners-destacados-dos .imagen-un-toque-de-brillo img {
      transition: 0.5s ease-in-out; }
      #banners-destacados-dos .imagen-un-toque-de-brillo img:hover {
        transform: scale(1.05) rotate(-5deg); }
  #banners-destacados-dos .titulo-un-toque-de-brillo {
    vertical-align: middle;
    text-align: center;
    display: inline-block; }
    #banners-destacados-dos .titulo-un-toque-de-brillo h2 {
      font-size: 27px; }
    #banners-destacados-dos .titulo-un-toque-de-brillo p {
      font-size: 18px; }
  #banners-destacados-dos .boton-mas-alla a {
    text-decoration: none;
    color: #2d2d2d; }
    #banners-destacados-dos .boton-mas-alla a:hover {
      color: white; }

button {
  display: inline-block;
  background-color: #FFC80F;
  border: none;
  padding: 15px 25px 15px 25px;
  border-radius: 5px; }

.carousel button:hover {
  background-color: unset; }

/*DENTRO DE PEDÍ UN DESEO*/
.seccion-pedi-un-deseo img {
  transition: 0.5s ease-in-out; }
  .seccion-pedi-un-deseo img:hover {
    transform: scale(1.02); }

.seccion-pedi-un-deseo h1 {
  font-size: 30px;
  margin: 25px; }

.seccion-pedi-un-deseo p {
  margin-left: 25px;
  margin-bottom: 100px; }

/* DENTRO DE "UN TOQUE DE BRILLO PARA TU MARCA" */
.seccion-un-toque-de-brillo img {
  transition: 0.5s ease-in-out; }
  .seccion-un-toque-de-brillo img:hover {
    transform: scale(1.02); }

.seccion-un-toque-de-brillo h1 {
  font-size: 30px;
  margin: 25px; }

.seccion-un-toque-de-brillo p {
  margin-left: 25px; }

.seccion-un-toque-de-brillo ul {
  margin-left: 10px; }

.seccion-un-toque-de-brillo .ult-parrafo-utdb p {
  margin-bottom: 100px; }

/*SECCIÓN CONOCENOS*/
.portada-conocenos img {
  transition: 0.5s ease-in-out; }
  .portada-conocenos img:hover {
    transform: scale(1.02); }

.titulo-ad-astra h1 {
  margin-top: 25px;
  font-size: 30px; }

.destacado-texto-conocenos p:hover {
  color: #ffc80f; }

.texto-conocenos {
  line-height: 150%;
  margin-left: 25px; }

.parrafo-uno p,
.parrafo-dos p {
  margin: 0;
  margin-right: 25px; }

.destacado-final-conocenos p {
  margin: 0;
  margin-top: 20px;
  margin-bottom: 100px; }
  .destacado-final-conocenos p:hover {
    color: #ffc80f; }

/*SECCIÓN PRODUCTOS */
.titulo-categorias-productos {
  margin: 15px;
  margin-top: 20px;
  padding-left: 22px; }

.categorias-productos li {
  display: block;
  padding: 5px; }

.categorias-productos a {
  text-decoration: none;
  color: #2D2D2D; }
  .categorias-productos a:hover {
    color: #FFC80F; }

.boton-mas-productos {
  display: flex;
  justify-content: center;
  margin-bottom: 60px;
  margin-left: 170px; }
  .boton-mas-productos button {
    background-color: #FFC80F;
    border: none;
    margin: 40px;
    padding: 15px 25px 15px 25px;
    border-radius: 5px; }

/* CONTINUA PRODUCTOS */
.card-imanes {
  margin: 10px;
  padding: 13px;
  display: inline-block;
  width: 300px;
  text-decoration: none;
  color: #2D2D2D;
  text-align: center;
  border: none; }
  .card-imanes p {
    margin: 10px; }
  .card-imanes span {
    display: inline-block;
    justify-content: center;
    margin: 25px;
    margin-top: 7px;
    width: 120px;
    color: white;
    background-color: #555555;
    padding: 8px; }
    .card-imanes span:hover {
      background-color: #e6a000; }
  .card-imanes .detalle-card-producto {
    font-size: 14px; }

.padre-cards-imanes {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-content: center;
  padding-left: 50px;
  padding-right: 50px;
  margin: 27px; }
  .padre-cards-imanes a {
    margin: 0;
    margin-bottom: 15px; }
  .padre-cards-imanes .precio-prod {
    font-size: 20px; }

.card-imanes {
  padding: 0; }

.cat-imanes h1 {
  font-size: 30px;
  margin-left: 28px;
  margin-top: 20px; }

.flex-menu-productos {
  display: flex;
  margin-left: 8px; }

/*PRODUCTO MODELO*/
.producto-modelo {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  padding: 30px;
  padding-left: 50px;
  margin: 0px; }
  .producto-modelo .fotos-costado {
    display: flex;
    flex-direction: column;
    align-content: flex-start; }
    .producto-modelo .fotos-costado .imagenp-producto-modelo {
      display: flex;
      justify-content: flex-start;
      padding: 25px;
      padding-top: 0px; }
  .producto-modelo .título-precio {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    padding-left: 50px; }
    .producto-modelo .título-precio h2 {
      color: #2D2D2D;
      font-size: 20px; }
    .producto-modelo .título-precio h3 {
      padding-top: 15px;
      color: #2D2D2D; }
  .producto-modelo .boton-agregar-carrito {
    padding: 0px;
    padding-top: 25px; }
  .producto-modelo .icono-camión {
    font-size: 15px; }
  .producto-modelo p {
    display: inline-block;
    padding-top: 25px;
    margin: 0px;
    font-size: 13px; }
  .producto-modelo .formulario-costo-envío .texto-botón {
    display: flex;
    flex-direction: flex-start;
    align-content: center;
    font-size: 16px;
    background-color: #f0f0f0;
    width: 235px;
    margin-top: 25px;
    padding-left: 70px; }
    .producto-modelo .formulario-costo-envío .texto-botón:hover {
      transform: none; }

.descripción-producto-modelo {
  padding-left: 240px;
  padding-right: 450px;
  padding-bottom: 100px; }

/*SECCIÓN CÓMO COMPRO*/
.portada-como-compro img {
  transition: 0.5s ease-in-out; }
  .portada-como-compro img:hover {
    transform: scale(1.02); }

.titulo-como-compro h1 {
  margin: 25px;
  font-size: 30px; }

.texto-como-compro {
  line-height: 150%;
  margin-bottom: 100px;
  margin-left: 10px; }
  .texto-como-compro p {
    margin-left: 20px; }

/*SECCIÓN CONTACTANOS*/
.titulo-formulario-consulta h1 {
  font-size: 30px;
  margin: 25px; }

.formulario-consulta form {
  display: flex;
  flex-wrap: nowrap;
  flex-direction: column;
  justify-content: flex-start;
  align-content: space-around;
  margin-left: 25px; }

.formulario-consulta input, .formulario-consulta textarea {
  padding: 5px;
  margin: 5px;
  width: 50%; }

.formulario-consulta button {
  margin: 15px;
  border-radius: 5px; }

.titulo-formulario-experiencia h2 {
  font-size: 25px;
  margin-left: 10px;
  margin-bottom: 0;
  padding: 20px; }

.formulario-experiencia form {
  margin-left: 25px; }

.formulario-experiencia label {
  display: inline-block;
  padding: 10px; }

.formulario-experiencia p {
  margin: 0;
  padding: 5px;
  padding-left: 0; }

.formulario-experiencia button {
  margin: 15px;
  border-radius: 5px; }

.experiencia input {
  margin: 0; }

.titulo-campo-de-texto p {
  padding: 20px;
  padding-left: 0;
  padding-bottom: 0;
  margin: 0; }

.campo-de-texto {
  display: flex;
  flex-direction: column;
  margin: 5px;
  margin-left: 0;
  width: 75%; }

.texto-cierre p {
  margin-bottom: 100px;
  margin-top: 25px;
  margin-left: 25px; }

/* FOOTER */
.titulos-footer,
.titulos-footer-2 {
  margin: 0px;
  margin-left: 0px;
  padding: 0px;
  padding-left: 0;
  font-size: 18px;
  color: #555555; }

.titulos-footer {
  margin-top: 35px; }

.titulos-footer-2 {
  margin-top: 5px;
  font-size: 18px !important; }

.envios {
  margin: 0px;
  padding: 0px;
  padding-left: 50px; }
  .envios ul {
    text-decoration: none;
    padding: 0;
    margin: 0;
    font-size: 15px; }
    .envios ul li {
      margin: 3px; }

.metodos-pagos {
  margin: 0px;
  padding: 0px;
  padding-left: 50px; }
  .metodos-pagos ul {
    text-decoration: none;
    padding: 0;
    margin: 0;
    font-size: 15px; }
    .metodos-pagos ul li {
      margin: 3px; }

.titulos-envios,
.titulos-pagos {
  margin: 0;
  padding: 3px;
  font-size: 18px;
  color: #555555; }

.redes-sociales-footer {
  padding: 0;
  margin: 0; }
  .redes-sociales-footer li {
    display: inline-block;
    padding: 5px;
    padding-left: 0px;
    margin-bottom: 5px; }
    .redes-sociales-footer li a {
      text-decoration: none; }

.redes-contacto-footer {
  margin-top: 8px;
  padding-left: 150px; }
  .redes-contacto-footer .contacto-footer {
    padding: 0px;
    padding-left: 0; }
    .redes-contacto-footer .contacto-footer .datos-contacto .icono-mail {
      font-size: 20px; }
    .redes-contacto-footer .contacto-footer .datos-contacto p {
      display: inline-block;
      padding: 0px;
      margin: 2px;
      font-size: 16px; }
    .redes-contacto-footer .contacto-footer .datos-contacto-tel
.icono-whatsapp {
      font-size: 25px; }
    .redes-contacto-footer .contacto-footer p {
      display: inline-block;
      padding: 0px;
      margin: 2px;
      font-size: 16px; }

.newsletter {
  padding-left: 150px; }
  .newsletter .formulario {
    display: inline-block;
    position: relative;
    font-size: 13px; }
    .newsletter .formulario .campo-texto {
      width: 200px;
      height: 49px;
      padding-right: 10px;
      padding-left: 10px; }
    .newsletter .formulario .texto-boton {
      position: absolute;
      bottom: 0;
      right: -140px;
      background-color: #FFC80F;
      border: none;
      padding: 15px 25px 15px 25px; }
      .newsletter .formulario .texto-boton:hover {
        color: white;
        background-color: #e6a000; }

.grilla-footer {
  border: none;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 2fr 2fr;
  justify-content: space-evenly;
  align-items: center;
  padding: 50px;
  margin: 0px;
  background-color: #fafafa; }

button:hover {
  color: white;
  background-color: #e6a000;
  transform: scale(1.2);
  border-radius: 5px; }

/* A PARTIR DE ACÁ, ELEMENTOS CON BOOTSTRAP */
/* SECCIÓN PRODUCTOS */
.flex-titulo-menu-arriba {
  display: flex;
  justify-content: space-between;
  margin: 15px;
  margin-bottom: 25px; }

.dropdown {
  margin-right: 28px;
  margin-top: 20px; }

.dropdown button:hover {
  transform: none; }

/* MENÚ DE ARRIBA DE TODO */
.navbar {
  background-color: #f0f0f0 !important;
  padding-left: 20px; }

.navbar-toggler:hover {
  transform: none; }

.container-fluid a {
  font-size: 15px; }
  .container-fluid a:hover {
    color: #FFC80F; }

.d-flex button {
  font-size: 14px;
  color: black;
  background-color: #FFC80F;
  margin-left: 0;
  margin-right: 20px;
  border: none;
  border-radius: 5px; }
  .d-flex button:hover {
    transform: none;
    background-color: #e6a000; }

.d-flex input {
  margin-right: 0;
  font-size: 14px; }

.boton_carrito button {
  background: none;
  transform: none;
  background-image: url("imagenes/footer-img/carrito-de-compras.svg");
  background-repeat: no-repeat;
  background-size: 26px;
  padding-right: 20px; }

/*CARRUSEL*/
#carouselExampleIndicators button:hover {
  color: none;
  background-color: none;
  transform: none; }

/* ACÁ TODOS LOS @MEDIA!!!*/
@media only screen and (max-width: 1200px) {
  /*PRODUCTO MODELO*/
  .descripción-producto-modelo {
    padding-left: 240px;
    padding-right: 150px;
    padding-bottom: 100px; } }

@media only screen and (max-width: 992px) and (min-width: 1199px) {
  /* MENÚ PRINCIPAL */
  .menu-principal {
    padding: 5px;
    font-size: 16px; }
    .menu-principal ul {
      padding-left: 0; }
    .menu-principal a {
      margin: 8px; }
  /* FRASE DEBAJO DEL MENÚ PRINCIPAL */
  .primer-titulo h1 {
    font-size: 25px; }
  .primer-titulo p {
    font-size: 15px;
    margin-bottom: 0; }
  /* LAS TRES SECCIONES DE ABAJO DEL MENÚ YA ESTÁN OK!*/
  /* ACÁ SECCIÓN PRODUCTOS EN INICIO */
  /*TÍTULO*/
  .productos {
    padding-top: 50px; }
    .productos h2 {
      font-size: 20px; }
    .productos p {
      font-size: 15px;
      margin-bottom: 0; }
  /* TITULO DONDE QUIERA ...*/
  .banner-frase-dos h2 {
    text-align: center;
    color: #2d2d2e;
    background-color: #FFC80F;
    margin: 0;
    padding: 50px;
    font-size: 25px; }
  /* SECCIONES DE ABAJO DE TODO */
  .imagen-pedi-un-deseo {
    vertical-align: middle;
    display: inline-block;
    padding: 30px;
    padding-left: 30px; }
  .titulo-pedi-un-deseo h2 {
    font-size: 24px; }
  .titulo-pedi-un-deseo p {
    font-size: 14px;
    padding-right: 30px; }
  #banners-destacados-dos {
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: space-evenly;
    align-content: space-evenly; }
    #banners-destacados-dos .titulo-un-toque-de-brillo h3 {
      font-size: 24px; }
    #banners-destacados-dos .titulo-un-toque-de-brillo p {
      font-size: 14px; }
  button {
    font-size: 13px;
    border-radius: 5px; }
  /* FOOTER */
  .grilla-footer {
    border: none;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    justify-content: center;
    align-content: center;
    padding: 10px; }
    .grilla-footer .metodos-pagos,
    .grilla-footer .envios {
      padding-left: 90px; }
    .grilla-footer .redes-contacto-footer {
      margin: 0;
      margin-bottom: 25px;
      padding-left: 60px; }
    .grilla-footer .newsletter {
      padding-left: 35px; }
    .grilla-footer .titulos-footer {
      margin-top: 10px; } }

@media only screen and (max-width: 991px) and (min-width: 768px) {
  /* MENÚ PRINCIPAL */
  .menu-principal {
    padding: 5px;
    font-size: 14px; }
    .menu-principal ul {
      padding-left: 0; }
    .menu-principal a {
      margin: 10px; }
  .container-fluid a {
    font-size: 12px; }
  /* FRASE DEBAJO DEL MENÚ PRINCIPAL */
  .primer-titulo h1 {
    font-size: 25px; }
  .primer-titulo p {
    font-size: 15px;
    margin-bottom: 0; }
  /* LAS TRES SECCIONES DE ABAJO DEL MENÚ*/
  main {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center; }
    main .destacado-pense-en-vos {
      margin-top: 80px;
      margin-bottom: 0px; }
    main .destacado-en-promo {
      margin-top: 80px; }
  /* ACÁ SECCIÓN PRODUCTOS EN INICIO */
  /*TÍTULO*/
  .productos {
    padding-top: 50px; }
    .productos h2 {
      font-size: 20px; }
    .productos p {
      font-size: 15px;
      margin-bottom: 0; }
  /* TITULO DONDE QUIERA ...*/
  .banner-frase-dos h2 {
    text-align: center;
    color: #2d2d2e;
    background-color: #FFC80F;
    margin: 0;
    padding: 50px;
    font-size: 20px; }
  /* SECCIONES DE ABAJO DE TODO */
  #banners-destacados {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-evenly;
    align-content: space-evenly; }
    #banners-destacados .titulo-pedi-un-deseo h3 {
      font-size: 24px; }
    #banners-destacados .titulo-pedi-un-deseo p {
      font-size: 14px;
      padding-right: 30px; }
    #banners-destacados .imagen-pedi-un-deseo {
      margin-top: 30px; }
  #banners-destacados-dos {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-evenly;
    align-content: space-evenly;
    background-color: #f0f0f0; }
    #banners-destacados-dos .titulo-un-toque-de-brillo h3 {
      font-size: 24px; }
    #banners-destacados-dos .titulo-un-toque-de-brillo p {
      font-size: 14px; }
    #banners-destacados-dos .imagen-un-toque-de-brillo {
      padding-bottom: 25px; }
  button {
    font-size: 13px;
    border-radius: 5px; }
  .boton-mas-alla button {
    margin-bottom: 50px;
    border-radius: 5px; }
  /*PRODUCTO MODELO*/
  .producto-modelo {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-content: center;
    padding: 15px;
    padding-left: 10px;
    margin: 0; }
    .producto-modelo .fotos-costado {
      display: flex;
      flex-direction: row;
      align-content: flex-start; }
      .producto-modelo .fotos-costado .imagenp-producto-modelo {
        display: flex;
        justify-content: flex-start;
        align-content: flex-start;
        margin: 0;
        padding: 2px;
        padding-top: 10px;
        padding-bottom: 15px; }
        .producto-modelo .fotos-costado .imagenp-producto-modelo img {
          height: 100%;
          width: 100%; }
    .producto-modelo .imagen-producto-modelo img {
      height: 100%;
      width: 100%; }
    .producto-modelo .título-precio {
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      padding-left: 10px;
      padding-top: 20px; }
      .producto-modelo .título-precio h2 {
        color: #2D2D2D;
        font-size: 20px; }
      .producto-modelo .título-precio h3 {
        padding-top: 15px;
        color: #2D2D2D; }
      .producto-modelo .título-precio .calculá-envío p {
        display: inline-block;
        font-size: 12px; }
    .producto-modelo .boton-agregar-carrito {
      padding: 0px;
      padding-top: 25px; }
    .producto-modelo .icono-camión {
      font-size: 15px; }
    .producto-modelo p {
      display: inline-block;
      padding-top: 25px;
      margin: 0;
      font-size: 15px; }
    .producto-modelo .formulario-costo-envío .texto-botón {
      display: flex;
      flex-direction: flex-start;
      align-content: center;
      font-size: 13px;
      background-color: #f0f0f0;
      width: 200px;
      margin: 0;
      margin-top: 25px;
      padding-left: 25px; }
      .producto-modelo .formulario-costo-envío .texto-botón:hover {
        transform: none; }
  .descripción-producto-modelo {
    padding-left: 50px;
    padding-right: 50px;
    padding-bottom: 100px; }
    .descripción-producto-modelo p {
      font-size: 20px; }
  /* FOOTER */
  .grilla-footer {
    border: none;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    justify-content: center;
    align-content: center;
    padding: 10px; }
    .grilla-footer .titulos-footer,
    .grilla-footer .titulos-footer-2 {
      font-size: 15px; }
    .grilla-footer .metodos-pagos {
      margin: 5px;
      padding: 5px; }
      .grilla-footer .metodos-pagos img {
        width: 100%; }
      .grilla-footer .metodos-pagos p {
        font-size: 15px;
        padding-left: 0; }
    .grilla-footer .envios {
      margin: 5px;
      padding: 5px; }
      .grilla-footer .envios img {
        width: 75%; }
      .grilla-footer .envios p {
        font-size: 15px; }
    .grilla-footer .metodos-pagos ul,
    .grilla-footer .envios ul {
      font-size: 13px; }
    .grilla-footer .redes-contacto-footer {
      margin: 0;
      margin: 5px;
      padding-left: 5px; }
    .grilla-footer .newsletter {
      padding: 5px;
      margin: 5px;
      justify-content: center; }
      .grilla-footer .newsletter .formulario {
        position: static; }
        .grilla-footer .newsletter .formulario .campo-texto {
          width: 100%;
          height: 49px; }
        .grilla-footer .newsletter .formulario .texto-boton {
          position: static;
          width: 100%; }
    .grilla-footer .titulos-footer {
      margin-top: 10px; } }

@media only screen and (max-width: 768px) and (min-width: 320px) {
  /* MENÚ PRINCIPAL */
  .menu-principal {
    text-align: center;
    font-size: 14px;
    padding: 5px;
    margin: 0;
    background-color: #f0f0f0; }
    .menu-principal li {
      display: block;
      padding: 8px; }
    .menu-principal a {
      margin: 15px;
      color: #2D2D2D;
      text-decoration: none; }
      .menu-principal a:hover {
        color: #FFC80F; }
    .menu-principal ul {
      margin: 0; }
  .subcategorias {
    display: none;
    position: absolute;
    align-items: center;
    background-color: #f0f0f0;
    z-index: 1; }
    .subcategorias li {
      padding-right: 3px;
      display: block;
      position: relative;
      font-size: 14px;
      padding-left: 0; }
      .subcategorias li a {
        margin-left: 0;
        padding-left: 15px; }
  .container-fluid a {
    font-size: 12px; }
  /* FRASE DEBAJO DEL MENÚ PRINCIPAL */
  .primer-titulo h1 {
    font-size: 25px; }
  .primer-titulo p {
    font-size: 15px;
    margin-bottom: 0; }
  /* LAS TRES SECCIONES DE ABAJO DEL MENÚ*/
  main {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center; }
    main .destacado-pense-en-vos {
      margin-top: 50px;
      margin-bottom: 0px; }
      main .destacado-pense-en-vos .imagen-pense-en-vos img {
        text-align: center;
        width: 100%;
        height: 100%;
        padding: 10px;
        margin: 0; }
    main .destacado-en-promo {
      margin-top: 50px; }
      main .destacado-en-promo .imagen-en-promo img {
        display: inline-block;
        width: 100%;
        height: 100%;
        padding: 10px;
        margin: 0; }
    main .destacado-paquetazos {
      margin-top: 0px; }
      main .destacado-paquetazos .imagen-paquetazos img {
        display: inline-block;
        width: 100%;
        height: 100%;
        padding: 10px;
        margin: 0; }
  /*DENTRO SECCIÓN PAQUETAZOS */
  .padre-cards-paquetazos {
    margin: 0; }
  /*DENTRO SECCIÓN PENSÉ EN VOS */
  .seccion-pense-en-vos p {
    padding-right: 18px; }
  /* ACÁ SECCIÓN PRODUCTOS EN INICIO */
  /*TÍTULO*/
  .productos {
    padding-top: 50px; }
    .productos h2 {
      font-size: 25px; }
    .productos p {
      font-size: 17px;
      margin-bottom: 0; }
  /* SECCIONES DE ABAJO DE TODO */
  #banners-destacados {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    padding: 0;
    margin: 0; }
    #banners-destacados .imagen-pedi-un-deseo img {
      width: 100%;
      margin: 0;
      margin-top: 10px;
      padding: 0; }
    #banners-destacados .imagen-pedi-un-deseo {
      padding: 10px; }
    #banners-destacados .titulo-pedi-un-deseo h3 {
      font-size: 20px;
      padding-top: 10px; }
    #banners-destacados .titulo-pedi-un-deseo p {
      font-size: 15px;
      padding: 10px;
      margin: 0; }
    #banners-destacados .boton-por-aca button {
      margin: 18px;
      border-radius: 5px; }
  #banners-destacados-dos {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    background-color: #f0f0f0;
    padding: 0;
    margin: 0; }
    #banners-destacados-dos .imagen-un-toque-de-brillo img {
      width: 100%;
      margin: 0;
      padding: 0;
      padding-bottom: 10px; }
    #banners-destacados-dos .imagen-un-toque-de-brillo {
      padding: 10px; }
    #banners-destacados-dos .titulo-un-toque-de-brillo h3 {
      font-size: 20px; }
    #banners-destacados-dos .titulo-un-toque-de-brillo p {
      font-size: 15px;
      padding: 10px;
      margin: 0; }
    #banners-destacados-dos .boton-mas-alla button {
      margin-bottom: 50px;
      margin-top: 18px;
      border-radius: 5px; }
  button {
    font-size: 13px;
    border-radius: 5px;
    border-radius: 5px; }
  /*DENTRO DE PEDÍ UN DESEO*/
  .seccion-pedi-un-deseo p {
    padding-right: 18px; }
  /* DENTRO DE "UN TOQUE DE BRILLO PARA TU MARCA" */
  .seccion-un-toque-de-brillo p {
    padding-right: 18px; }
  /*SECCIÓN CONOCENOS*/
  .titulo-ad-astra h1 {
    margin-top: 25px;
    font-size: 25px; }
  .texto-conocenos {
    line-height: 150%;
    margin-left: 20px; }
    .texto-conocenos .destacado-texto-conocenos p {
      font-size: 15px; }
  /* SECCIÓN PRODUCTOS */
  .flex-titulo-menu-arriba {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-content: flex-start;
    margin: 10px;
    margin-bottom: 25px; }
    .flex-titulo-menu-arriba .cat-imanes h1 {
      font-size: 25px; }
    .flex-titulo-menu-arriba .dropdown {
      margin-left: 28px;
      margin-top: 20px; }
    .flex-titulo-menu-arriba button:hover {
      transform: none; }
  .padre-cards-imanes {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-content: flex-start;
    margin: 0;
    padding: 10px; }
    .padre-cards-imanes img {
      width: 100%; }
  .flex-menu-productos {
    display: block;
    margin: 0; }
  .boton-mas-productos {
    display: flex;
    justify-content: center;
    margin: 0; }
  /*PRODUCTO MODELO*/
  .producto-modelo {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-content: center;
    padding: 15px;
    padding-left: 10px;
    margin: 0; }
    .producto-modelo .fotos-costado {
      display: flex;
      flex-direction: row;
      align-content: flex-start; }
      .producto-modelo .fotos-costado .imagenp-producto-modelo {
        display: flex;
        justify-content: flex-start;
        align-content: flex-start;
        margin: 0;
        padding: 2px;
        padding-top: 10px;
        padding-bottom: 15px; }
        .producto-modelo .fotos-costado .imagenp-producto-modelo img {
          height: 100%;
          width: 100%; }
    .producto-modelo .imagen-producto-modelo img {
      height: 100%;
      width: 100%; }
    .producto-modelo .título-precio {
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      padding-left: 10px;
      padding-top: 20px; }
      .producto-modelo .título-precio h2 {
        color: #2D2D2D;
        font-size: 20px; }
      .producto-modelo .título-precio h3 {
        padding-top: 15px;
        color: #2D2D2D; }
      .producto-modelo .título-precio .calculá-envío p {
        display: inline-block;
        font-size: 12px; }
    .producto-modelo .boton-agregar-carrito {
      padding: 0px;
      padding-top: 25px; }
    .producto-modelo .icono-camión {
      font-size: 15px; }
    .producto-modelo p {
      display: inline-block;
      padding-top: 25px;
      margin: 0;
      font-size: 13px; }
    .producto-modelo .formulario-costo-envío .texto-botón {
      display: flex;
      flex-direction: flex-start;
      align-content: center;
      font-size: 13px;
      background-color: #f0f0f0;
      width: 200px;
      margin: 0;
      margin-top: 25px;
      padding-left: 25px; }
      .producto-modelo .formulario-costo-envío .texto-botón:hover {
        transform: none; }
  .descripción-producto-modelo {
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 100px; }
    .descripción-producto-modelo p {
      font-size: 16px; }
  /*SECCIÓN CÓMO COMPRO*/
  .titulo-como-compro h1 {
    margin: 25px;
    font-size: 25px; }
  .texto-como-compro {
    line-height: 150%;
    margin-right: 20px;
    margin-bottom: 100px; }
    .texto-como-compro p {
      margin-left: 20px; }
  /*SECCIÓN CONTACTANOS*/
  .titulo-formulario-consulta h1 {
    font-size: 25px; }
  .formulario-consulta form {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
    justify-content: flex-start;
    align-content: space-around;
    margin-left: 25px; }
  .formulario-consulta input, .formulario-consulta textarea {
    padding: 5px;
    margin: 5px;
    width: 75%; }
  .formulario-consulta button {
    margin: 10px;
    border-radius: 5px; }
  .titulo-formulario-experiencia h2 {
    font-size: 25px;
    margin-left: 10px;
    margin-bottom: 0;
    padding: 20px; }
  .formulario-experiencia label {
    display: block;
    padding: 5px; }
  .formulario-experiencia p {
    margin: 0;
    padding: 5px;
    padding-left: 0; }
  .formulario-experiencia button {
    margin: 15px;
    border-radius: 5px; }
  .titulo-campo-de-texto p {
    padding: 20px;
    padding-left: 0;
    padding-bottom: 0;
    margin: 0; }
  .campo-de-texto {
    display: flex;
    flex-direction: column;
    margin: 5px;
    margin-left: 0; }
  /* FOOTER */
  .grilla-footer {
    border: none;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    justify-content: center;
    align-content: center;
    padding: 10px; }
    .grilla-footer .titulos-footer,
    .grilla-footer .titulos-footer-2 {
      font-size: 15px; }
    .grilla-footer .metodos-pagos {
      margin: 5px;
      padding: 5px; }
      .grilla-footer .metodos-pagos img {
        width: 100%; }
      .grilla-footer .metodos-pagos p {
        font-size: 15px;
        padding-left: 0; }
    .grilla-footer .envios {
      margin: 5px;
      padding: 5px; }
      .grilla-footer .envios img {
        width: 75%; }
      .grilla-footer .envios p {
        font-size: 15px; }
    .grilla-footer .metodos-pagos ul,
    .grilla-footer .envios ul {
      font-size: 13px; }
    .grilla-footer .redes-contacto-footer {
      margin: 0;
      margin: 5px;
      padding-left: 5px; }
    .grilla-footer .newsletter {
      padding: 5px;
      margin: 5px;
      justify-content: center; }
      .grilla-footer .newsletter .formulario {
        position: static; }
        .grilla-footer .newsletter .formulario .campo-texto {
          width: 100%;
          height: 49px; }
        .grilla-footer .newsletter .formulario .texto-boton {
          position: static;
          width: 100%; }
    .grilla-footer .titulos-footer {
      margin-top: 10px; } }
